@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data used in this web app come from <a href="www.thesportsdb.com" target="_blank">www.thesportsdb.com</a>. This is a simple web app designed for practice only.</p>
