@model ASPsportsAPI.Models.League

@{
    ViewData["Title"] = "League";
}

<h1>League</h1>

<div>
    <h4>League</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
